grammar/usx.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:usfm="http://usfm.bible/parse/2022"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="USX"/>
  </start>
  <define name="USX">
    <choice>
      <ref name="Scripture"/>
      <ref name="Peripheral"/>
    </choice>
  </define>
  <define name="Scripture">
    <element>
      <name ns="">usx</name>
      <attribute>
        <name ns="">version</name>
        <data type="string">
          <param name="minLength">3</param>
          <param name="pattern">\d+\.\d+(\.\d+)?</param>
        </data>
      </attribute>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/2001/XMLSchema-instance">noNamespaceSchemaLocation</name>
          <text/>
        </attribute>
      </optional>
      <ref name="BookIdentification"/>
      <zeroOrMore>
        <ref name="BookHeaders"/>
      </zeroOrMore>
      <oneOrMore>
        <ref name="BookTitles"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="BookIntroduction"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="BookIntroductionEndTitles"/>
      </zeroOrMore>
      <optional>
        <ref name="BookChapterLabel"/>
      </optional>
      <ref name="Chapter"/>
      <oneOrMore>
        <ref name="ChapterContent"/>
      </oneOrMore>
    </element>
  </define>
  <define name="Peripheral">
    <element>
      <name ns="">usx</name>
      <attribute>
        <name ns="">version</name>
        <data type="string">
          <param name="minLength">3</param>
          <param name="pattern">\d+\.\d+(\.\d+)?</param>
        </data>
      </attribute>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/2001/XMLSchema-instance">noNamespaceSchemaLocation</name>
          <text/>
        </attribute>
      </optional>
      <choice>
        <ref name="PeripheralBook"/>
        <ref name="PeripheralDividedBook"/>
      </choice>
    </element>
  </define>
  <define name="PeripheralBook">
    <group>
      <ref name="PeripheralBookIdentification"/>
      <zeroOrMore>
        <ref name="BookHeaders"/>
      </zeroOrMore>
      <oneOrMore>
        <ref name="BookTitles"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="BookIntroduction"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="BookIntroductionEndTitles"/>
      </zeroOrMore>
      <oneOrMore>
        <ref name="PeripheralContent"/>
      </oneOrMore>
    </group>
  </define>
  <define name="PeripheralDividedBook">
    <group>
      <ref name="PeripheralDividedBookIdentification"/>
      <choice>
        <ref name="PeripheralDivision"/>
        <ref name="PeripheralOther"/>
      </choice>
    </group>
  </define>
  <define name="BookIdentification">
    <element>
      <name ns="">book</name>
      <attribute>
        <name ns="">code</name>
        <ref name="BookIdentification.book.code.enum"/>
      </attribute>
      <attribute>
        <name ns="">style</name>
        <value>id</value>
      </attribute>
      <optional>
        <text/>
      </optional>
    </element>
  </define>
  <define name="BookIdentification.book.code.enum">
    <choice>
      <value>GEN</value>
      <value>EXO</value>
      <value>LEV</value>
      <value>NUM</value>
      <value>DEU</value>
      <value>JOS</value>
      <value>JDG</value>
      <value>RUT</value>
      <value>1SA</value>
      <value>2SA</value>
      <value>1KI</value>
      <value>2KI</value>
      <value>1CH</value>
      <value>2CH</value>
      <value>EZR</value>
      <value>NEH</value>
      <value>EST</value>
      <value>JOB</value>
      <value>PSA</value>
      <value>PRO</value>
      <value>ECC</value>
      <value>SNG</value>
      <value>ISA</value>
      <value>JER</value>
      <value>LAM</value>
      <value>EZK</value>
      <value>DAN</value>
      <value>HOS</value>
      <value>JOL</value>
      <value>AMO</value>
      <value>OBA</value>
      <value>JON</value>
      <value>MIC</value>
      <value>NAM</value>
      <value>HAB</value>
      <value>ZEP</value>
      <value>HAG</value>
      <value>ZEC</value>
      <value>MAL</value>
      <value>MAT</value>
      <value>MRK</value>
      <value>LUK</value>
      <value>JHN</value>
      <value>ACT</value>
      <value>ROM</value>
      <value>1CO</value>
      <value>2CO</value>
      <value>GAL</value>
      <value>EPH</value>
      <value>PHP</value>
      <value>COL</value>
      <value>1TH</value>
      <value>2TH</value>
      <value>1TI</value>
      <value>2TI</value>
      <value>TIT</value>
      <value>PHM</value>
      <value>HEB</value>
      <value>JAS</value>
      <value>1PE</value>
      <value>2PE</value>
      <value>1JN</value>
      <value>2JN</value>
      <value>3JN</value>
      <value>JUD</value>
      <value>REV</value>
      <value>TOB</value>
      <value>JDT</value>
      <value>ESG</value>
      <value>WIS</value>
      <value>SIR</value>
      <value>BAR</value>
      <value>LJE</value>
      <value>S3Y</value>
      <value>SUS</value>
      <value>BEL</value>
      <value>1MA</value>
      <value>2MA</value>
      <value>3MA</value>
      <value>4MA</value>
      <value>1ES</value>
      <value>2ES</value>
      <value>MAN</value>
      <value>PS2</value>
      <value>ODA</value>
      <value>PSS</value>
      <value>EZA</value>
      <value>5EZ</value>
      <value>6EZ</value>
      <value>DAG</value>
      <value>PS3</value>
      <value>2BA</value>
      <value>LBA</value>
      <value>JUB</value>
      <value>ENO</value>
      <value>1MQ</value>
      <value>2MQ</value>
      <value>3MQ</value>
      <value>REP</value>
      <value>4BA</value>
      <value>LAO</value>
    </choice>
  </define>
  <define name="PeripheralBookIdentification">
    <element>
      <name ns="">book</name>
      <attribute>
        <name ns="">code</name>
        <ref name="PeripheralBookIdentification.book.code.enum"/>
      </attribute>
      <attribute>
        <name ns="">style</name>
        <value>id</value>
      </attribute>
      <optional>
        <text/>
      </optional>
    </element>
  </define>
  <define name="PeripheralBookIdentification.book.code.enum">
    <choice>
      <value>CNC</value>
      <value>GLO</value>
      <value>TDX</value>
      <value>NDX</value>
    </choice>
  </define>
  <define name="PeripheralDividedBookIdentification">
    <element>
      <name ns="">book</name>
      <attribute>
        <name ns="">code</name>
        <ref name="PeripheralDividedBookIdentification.book.code.enum"/>
      </attribute>
      <attribute>
        <name ns="">style</name>
        <value>id</value>
      </attribute>
      <optional>
        <text/>
      </optional>
    </element>
  </define>
  <define name="PeripheralDividedBookIdentification.book.code.enum">
    <choice>
      <value>XXA</value>
      <value>XXB</value>
      <value>XXC</value>
      <value>XXD</value>
      <value>XXE</value>
      <value>XXF</value>
      <value>XXG</value>
      <value>FRT</value>
      <value>BAK</value>
      <value>OTH</value>
      <value>INT</value>
    </choice>
  </define>
  <define name="PeripheralDivision">
    <element>
      <name ns="">periph</name>
      <attribute>
        <name ns="">id</name>
        <choice>
          <ref name="Peripheral.FRT.periph.id.enum"/>
          <ref name="Peripheral.INT.periph.id.enum"/>
          <ref name="Peripheral.BAK.periph.id.enum"/>
          <ref name="Peripheral.OTH.periph.id.enum"/>
          <data type="string">
            <param name="pattern">x\-[\p{L}_\-\.:]+</param>
          </data>
        </choice>
      </attribute>
      <optional>
        <attribute>
          <name ns="">alt</name>
          <text/>
        </attribute>
      </optional>
      <zeroOrMore>
        <ref name="BookHeaders"/>
      </zeroOrMore>
      <oneOrMore>
        <ref name="BookTitles"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="BookIntroduction"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="BookIntroductionEndTitles"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="PeripheralContent"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="Peripheral.FRT.periph.id.enum">
    <choice>
      <value>title</value>
      <value>halftitle</value>
      <value>promo</value>
      <value>imprimatur</value>
      <value>pubdata</value>
      <value>foreword</value>
      <value>preface</value>
      <value>contents</value>
      <value>alphacontents</value>
      <value>abbreviations</value>
    </choice>
  </define>
  <define name="Peripheral.INT.periph.id.enum">
    <choice>
      <value>intbible</value>
      <value>intot</value>
      <value>intpent</value>
      <value>inthistory</value>
      <value>intpoetry</value>
      <value>intprophesy</value>
      <value>intdc</value>
      <value>intnt</value>
      <value>intgospels</value>
      <value>intepistles</value>
      <value>intletters</value>
    </choice>
  </define>
  <define name="Peripheral.BAK.periph.id.enum">
    <choice>
      <value>chron</value>
      <value>measures</value>
      <value>maps</value>
      <value>lxxquotes</value>
    </choice>
  </define>
  <define name="Peripheral.OTH.periph.id.enum">
    <choice>
      <value>cover</value>
      <value>spine</value>
    </choice>
  </define>
  <define name="PeripheralOther">
    <group>
      <zeroOrMore>
        <ref name="BookHeaders"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="BookTitles"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="BookIntroduction"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="BookIntroductionEndTitles"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="PeripheralContent"/>
      </zeroOrMore>
    </group>
  </define>
  <define name="BookHeaders">
    <element>
      <name ns="">para</name>
      <attribute>
        <name ns="">style</name>
        <ref name="BookHeaders.para.style.enum"/>
      </attribute>
      <optional>
        <text/>
      </optional>
    </element>
  </define>
  <define name="BookHeaders.para.style.enum">
    <choice>
      <value>ide</value>
      <value>h</value>
      <value>h1</value>
      <value>h2</value>
      <value>h3</value>
      <value>toc1</value>
      <value>toc2</value>
      <value>toc3</value>
      <value>toca1</value>
      <value>toca2</value>
      <value>toca3</value>
      <value>rem</value>
      <value>usfm</value>
    </choice>
  </define>
  <define name="BookTitles">
    <element>
      <name ns="">para</name>
      <attribute>
        <name ns="">style</name>
        <ref name="BookTitles.para.style.enum"/>
      </attribute>
      <zeroOrMore>
        <choice>
          <ref name="Footnote"/>
          <ref name="CrossReference"/>
          <ref name="Char"/>
          <ref name="Break"/>
          <text/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="BookTitles.para.style.enum">
    <choice>
      <value>mt</value>
      <value>mt1</value>
      <value>mt2</value>
      <value>mt3</value>
      <value>mt4</value>
      <value>imt</value>
      <value>imt1</value>
      <value>imt2</value>
      <value>rem</value>
    </choice>
  </define>
  <define name="BookIntroduction">
    <choice>
      <element>
        <name ns="">para</name>
        <attribute>
          <name ns="">style</name>
          <ref name="BookIntroduction.para.style.enum"/>
        </attribute>
        <zeroOrMore>
          <choice>
            <ref name="Reference"/>
            <ref name="Footnote"/>
            <ref name="CrossReference"/>
            <ref name="Char"/>
            <ref name="IntroChar"/>
            <ref name="Milestone"/>
            <ref name="Figure"/>
            <text/>
          </choice>
        </zeroOrMore>
      </element>
      <ref name="Table"/>
    </choice>
  </define>
  <define name="BookIntroduction.para.style.enum">
    <choice>
      <value>imt</value>
      <value>imt1</value>
      <value>imt2</value>
      <value>imt3</value>
      <value>imt4</value>
      <value>ib</value>
      <value>ie</value>
      <value>ili</value>
      <value>ili1</value>
      <value>ili2</value>
      <value>im</value>
      <value>imi</value>
      <value>imq</value>
      <value>io</value>
      <value>io1</value>
      <value>io2</value>
      <value>io3</value>
      <value>io4</value>
      <value>iot</value>
      <value>ip</value>
      <value>ipi</value>
      <value>ipq</value>
      <value>ipr</value>
      <value>iq</value>
      <value>iq1</value>
      <value>iq2</value>
      <value>iq3</value>
      <value>is</value>
      <value>is1</value>
      <value>is2</value>
      <value>imte</value>
      <value>imte1</value>
      <value>imte2</value>
      <value>iex</value>
      <value>rem</value>
    </choice>
  </define>
  <define name="BookIntroductionEndTitles">
    <element>
      <name ns="">para</name>
      <attribute>
        <name ns="">style</name>
        <ref name="BookIntroductionEndTitles.para.style.enum"/>
      </attribute>
      <zeroOrMore>
        <choice>
          <ref name="Footnote"/>
          <ref name="CrossReference"/>
          <ref name="Char"/>
          <ref name="Milestone"/>
          <ref name="Break"/>
          <text/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="BookIntroductionEndTitles.para.style.enum">
    <choice>
      <value>mt</value>
      <value>mt1</value>
      <value>mt2</value>
      <value>mt3</value>
      <value>mt4</value>
      <value>imt</value>
      <value>imt1</value>
      <value>imt2</value>
    </choice>
  </define>
  <define name="ChapterContent">
    <choice>
      <ref name="Chapter"/>
      <ref name="Para"/>
      <ref name="List"/>
      <ref name="Table"/>
      <ref name="Footnote"/>
      <ref name="CrossReference"/>
      <ref name="Sidebar"/>
    </choice>
  </define>
  <define name="PeripheralContent">
    <choice>
      <ref name="Chapter"/>
      <ref name="Para"/>
      <ref name="List"/>
      <ref name="Table"/>
      <ref name="Footnote"/>
      <ref name="CrossReference"/>
      <ref name="Sidebar"/>
    </choice>
  </define>
  <define name="Para">
    <element>
      <name ns="">para</name>
      <attribute>
        <usfm:tag id="a" grouping="12" stacked="true" strip="none"/>
        <name ns="">style</name>
        <ref name="Para.para.style.enum"/>
      </attribute>
      <optional>
        <attribute>
          <name ns="">vid</name>
          <data type="string">
            <param name="pattern">[A-Z1-4]{3} ?[a-z0-9\-:]*</param>
          </data>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="Reference"/>
          <ref name="Footnote"/>
          <ref name="CrossReference"/>
          <ref name="Char"/>
          <ref name="Milestone"/>
          <ref name="Figure"/>
          <ref name="Verse"/>
          <ref name="Break"/>
          <optional>
            <text>
              <usfm:text strip="left"/>
            </text>
          </optional>
        </choice>
      </oneOrMore>
      <usfm:endtag id="a" many="?"/>
    </element>
  </define>
  <define name="Para.para.style.enum">
    <choice>
      <value>restore</value>
      <value>cls</value>
      <value>iex</value>
      <value>ip</value>
      <value>lit</value>
      <value>m</value>
      <value>mi</value>
      <value>nb</value>
      <value>p</value>
      <value>pb</value>
      <value>pc</value>
      <value>pi</value>
      <value>pi1</value>
      <value>pi2</value>
      <value>pi3</value>
      <value>po</value>
      <value>pr</value>
      <value>pmo</value>
      <value>pm</value>
      <value>pmc</value>
      <value>pmr</value>
      <value>ph</value>
      <value>ph1</value>
      <value>ph2</value>
      <value>ph3</value>
      <value>q</value>
      <value>q1</value>
      <value>q2</value>
      <value>q3</value>
      <value>q4</value>
      <value>qa</value>
      <value>qc</value>
      <value>qr</value>
      <value>qm</value>
      <value>qm1</value>
      <value>qm2</value>
      <value>qm3</value>
      <value>qd</value>
      <value>b</value>
      <value>d</value>
      <value>ms</value>
      <value>ms1</value>
      <value>ms2</value>
      <value>ms3</value>
      <value>mr</value>
      <value>r</value>
      <value>s</value>
      <value>s1</value>
      <value>s2</value>
      <value>s3</value>
      <value>s4</value>
      <value>sr</value>
      <value>sp</value>
      <value>sd</value>
      <value>sd1</value>
      <value>sd2</value>
      <value>sd3</value>
      <value>sd4</value>
      <value>ts</value>
      <value>cp</value>
      <value>cl</value>
      <value>cd</value>
      <value>mte</value>
      <value>mte1</value>
      <value>mte2</value>
      <value>p</value>
      <value>p1</value>
      <value>p2</value>
      <value>k1</value>
      <value>k2</value>
      <value>rem</value>
    </choice>
  </define>
  <define name="List">
    <element>
      <name ns="">para</name>
      <attribute>
        <name ns="">style</name>
        <ref name="List.para.style.enum"/>
      </attribute>
      <optional>
        <attribute>
          <name ns="">vid</name>
          <data type="string">
            <param name="pattern">[A-Z1-4]{3} ?[a-z0-9\-:]*</param>
          </data>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="Reference"/>
          <ref name="Footnote"/>
          <ref name="CrossReference"/>
          <ref name="Char"/>
          <ref name="ListChar"/>
          <ref name="Milestone"/>
          <ref name="Figure"/>
          <ref name="Verse"/>
          <ref name="Break"/>
          <text/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="List.para.style.enum">
    <choice>
      <value>lh</value>
      <value>li</value>
      <value>li1</value>
      <value>li2</value>
      <value>li3</value>
      <value>li4</value>
      <value>lf</value>
      <value>lim</value>
      <value>lim1</value>
      <value>lim2</value>
      <value>lim3</value>
      <value>lim4</value>
    </choice>
  </define>
  <define name="Table">
    <element>
      <name ns="">table</name>
      <optional>
        <attribute>
          <name ns="">vid</name>
          <data type="string">
            <param name="pattern">[A-Z1-4]{3} ?[a-z0-9\-:]*</param>
          </data>
        </attribute>
      </optional>
      <oneOrMore>
        <element>
          <name ns="">row</name>
          <attribute>
            <name ns="">style</name>
            <value>tr</value>
          </attribute>
          <oneOrMore>
            <choice>
              <ref name="Verse"/>
              <ref name="TableContent"/>
            </choice>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="TableContent">
    <element>
      <name ns="">cell</name>
      <attribute>
        <name ns="">style</name>
        <data type="string">
          <param name="pattern">t[hc][rc]?\d+</param>
        </data>
      </attribute>
      <attribute>
        <name ns="">align</name>
        <ref name="cell.align.enum"/>
      </attribute>
      <optional>
        <attribute>
          <name ns="">colspan</name>
          <data type="integer"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="Footnote"/>
          <ref name="CrossReference"/>
          <ref name="Char"/>
          <ref name="Milestone"/>
          <ref name="Figure"/>
          <ref name="Verse"/>
          <ref name="Break"/>
          <text/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="cell.align.enum">
    <choice>
      <value>start</value>
      <value>center</value>
      <value>end</value>
    </choice>
  </define>
  <define name="IntroChar">
    <element>
      <name ns="">char</name>
      <attribute>
        <name ns="">style</name>
        <ref name="IntroChar.char.style.enum"/>
      </attribute>
      <optional>
        <ref name="char.closed"/>
      </optional>
      <text/>
      <zeroOrMore>
        <choice>
          <ref name="Reference"/>
          <ref name="Char"/>
          <ref name="IntroChar"/>
          <ref name="Milestone"/>
          <ref name="Footnote"/>
          <ref name="Break"/>
          <text/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="IntroChar.char.style.enum">
    <choice>
      <value>ior</value>
      <value>iqt</value>
    </choice>
  </define>
  <define name="CharContent">
    <group>
      <ref name="char.link" usfm:order="2"/>
      <optional>
        <ref name="char.closed"/>
      </optional>
      <text>
        <usfm:text/>
      </text>
      <zeroOrMore>
        <choice>
          <ref name="Reference"/>
          <ref name="CharEmbed"/>
          <ref name="Milestone"/>
          <ref name="Footnote"/>
          <ref name="Break"/>
          <text/>
        </choice>
      </zeroOrMore>
    </group>
  </define>
  <define name="Char">
    <choice>
      <element>
        <name ns="">char</name>
        <attribute>
          <usfm:tag id="a" grouping="9" stacked="true"/>
          <name ns="">style</name>
          <ref name="Char.char.style.enum"/>
        </attribute>
        <ref name="CharContent"/>
        <usfm:endtag id="a" many="?" usfm:order="3"/>
      </element>
      <ref name="CharWithAttrib.enum"/>
    </choice>
  </define>
  <define name="Char.char.style.enum">
    <choice>
      <value>va</value>
      <value>vp</value>
      <value>ca</value>
      <value>qac</value>
      <value>qs</value>
      <value>add</value>
      <value>addpn</value>
      <value>bk</value>
      <value>dc</value>
      <value>efm</value>
      <value>fm</value>
      <value>k</value>
      <value>nd</value>
      <value>ndx</value>
      <value>ord</value>
      <value>pn</value>
      <value>png</value>
      <value>pro</value>
      <value>qt</value>
      <value>rq</value>
      <value>sig</value>
      <value>sls</value>
      <value>tl</value>
      <value>wg</value>
      <value>wh</value>
      <value>wa</value>
      <value>wj</value>
      <value>xt</value>
      <value>jmp</value>
      <value>no</value>
      <value>it</value>
      <value>bd</value>
      <value>bdit</value>
      <value>em</value>
      <value>sc</value>
      <value>sup</value>
    </choice>
  </define>
  <define name="CharEmbed">
    <choice>
      <element>
        <name ns="">char</name>
        <attribute>
          <usfm:tag id="a" prefix="\+" grouping="9" stacked="true"/>
          <name ns="">style</name>
          <ref name="Char.char.style.enum"/>
        </attribute>
        <ref name="CharContent"/>
        <usfm:endtag id="a" many="?" usfm:order="3"/>
      </element>
      <ref name="CharWithAttrib.enum"/>
    </choice>
  </define>
  <define name="ListChar">
    <element>
      <name ns="">char</name>
      <attribute>
        <name ns="">style</name>
        <ref name="ListChar.char.style.enum"/>
      </attribute>
      <optional>
        <ref name="char.link"/>
      </optional>
      <optional>
        <ref name="char.closed"/>
      </optional>
      <text/>
      <zeroOrMore>
        <choice>
          <ref name="Reference"/>
          <ref name="Char"/>
          <ref name="Milestone"/>
          <ref name="Footnote"/>
          <ref name="Break"/>
          <text/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="ListChar.char.style.enum">
    <choice>
      <value>litl</value>
      <value>lik</value>
      <value>liv</value>
      <value>liv1</value>
      <value>liv2</value>
      <value>liv3</value>
      <value>liv4</value>
      <value>liv5</value>
    </choice>
  </define>
  <define name="CharWithAttrib.enum">
    <choice>
      <ref name="CharWithAttrib.char.style.w"/>
      <ref name="CharWithAttrib.char.style.rb"/>
    </choice>
  </define>
  <define name="CharWithAttrib.char.style.w">
    <element>
      <name ns="">char</name>
      <attribute>
        <usfm:tag id="a"/>
        <name ns="">style</name>
        <value>w</value>
      </attribute>
      <ref name="char.link"/>
      <optional>
        <ref name="char.closed"/>
      </optional>
      <optional>
        <attribute>
          <name ns="">lemma</name>
          <data type="string">
            <param name="minLength">1</param>
          </data>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="">strong</name>
          <data type="string">
            <param name="pattern">([HG]\d{4,5}(:[a-z])?,?)+</param>
          </data>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="">srcloc</name>
          <data type="string">
            <param name="pattern">[a-z]{3,5}\d?:\d+\.\d+\.\d+\.\d+</param>
          </data>
        </attribute>
      </optional>
      <text/>
      <zeroOrMore>
        <choice>
          <ref name="Reference"/>
          <ref name="Char"/>
          <ref name="Milestone"/>
          <ref name="Footnote"/>
          <ref name="Break"/>
          <text/>
        </choice>
      </zeroOrMore>
      <usfm:endtag id="a"/>
    </element>
  </define>
  <define name="CharWithAttrib.char.style.rb">
    <element>
      <name ns="">char</name>
      <attribute>
        <name ns="">style</name>
        <value>rb</value>
      </attribute>
      <optional>
        <ref name="char.link"/>
      </optional>
      <optional>
        <ref name="char.closed"/>
      </optional>
      <optional>
        <attribute>
          <name ns="">gloss</name>
          <data type="string">
            <param name="minLength">1</param>
          </data>
        </attribute>
      </optional>
      <text/>
      <zeroOrMore>
        <choice>
          <ref name="Reference"/>
          <ref name="Char"/>
          <ref name="Milestone"/>
          <ref name="Footnote"/>
          <ref name="Break"/>
          <text/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="char.link">
    <interleave>
      <optional>
        <attribute>
          <usfm:attrib>href</usfm:attrib>
          <name ns="">link-href</name>
          <data type="string">
            <param name="pattern">(.*///?(.*/?)+)|((prj:[A-Za-z\-0-9]{3,8} )?[A-Z1-4]{3} \d+:\d+(\-\d+)?)|(#[^\s]+)</param>
          </data>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <usfm:attrib>title</usfm:attrib>
          <name ns="">link-title</name>
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <usfm:attrib>id</usfm:attrib>
          <name ns="">link-id</name>
          <data type="string">
            <param name="pattern">[\p{L}\d_\-\.:]+</param>
          </data>
        </attribute>
      </optional>
      <usfm:repeat>
        <usfm:text noquotes="true">WS</usfm:text>
      </usfm:repeat>
    </interleave>
  </define>
  <define name="char.closed">
    <attribute>
      <name ns="">closed</name>
      <data type="boolean"/>
    </attribute>
  </define>
  <define name="Milestone">
    <choice>
      <element>
        <name ns="">ms</name>
        <attribute>
          <name ns="">style</name>
          <ref name="Milestone.ms.style.enum"/>
        </attribute>
        <optional>
          <attribute>
            <name ns="">sid</name>
            <data type="string">
              <param name="pattern">[\p{L}\d_\-\.:]+</param>
            </data>
          </attribute>
        </optional>
        <optional>
          <attribute>
            <name ns="">eid</name>
            <data type="string">
              <param name="pattern">[\p{L}\d_\-\.:]+</param>
            </data>
          </attribute>
        </optional>
        <empty/>
      </element>
      <ref name="MilestoneWithAttrib.enum"/>
    </choice>
  </define>
  <define name="Milestone.ms.style.enum">
    <choice>
      <data type="string">
        <param name="pattern">ts?(\-[se])?</param>
      </data>
      <data type="string">
        <param name="pattern">[Zz].+</param>
      </data>
    </choice>
  </define>
  <define name="MilestoneWithAttrib.enum">
    <ref name="MilestoneWithAttrib.ms.style.qt"/>
  </define>
  <define name="MilestoneWithAttrib.ms.style.qt">
    <element>
      <name ns="">ms</name>
      <attribute>
        <name ns="">style</name>
        <data type="string">
          <param name="pattern">qt[1-5]?(\-[se])?</param>
        </data>
      </attribute>
      <optional>
        <attribute>
          <name ns="">sid</name>
          <data type="string">
            <param name="pattern">[\p{L}\d_\-\.:]+</param>
          </data>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="">eid</name>
          <data type="string">
            <param name="pattern">[\p{L}\d_\-\.:]+</param>
          </data>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="">who</name>
          <data type="string">
            <param name="minLength">2</param>
          </data>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="Chapter">
    <choice>
      <ref name="ChapterStart"/>
      <ref name="ChapterEnd"/>
    </choice>
  </define>
  <define name="ChapterStart">
    <element>
      <name ns="">chapter</name>
      <interleave>
        <attribute>
          <usfm:tag>c</usfm:tag>
          <name ns="">style</name>
          <value>c</value>
        </attribute>
        <attribute>
          <usfm:text strip="both"/>
          <name ns="">number</name>
          <data type="integer"/>
        </attribute>
        <attribute>
          <name ns="">sid</name>
          <data type="string">
            <param name="minLength">1</param>
            <param name="pattern">[A-Z1-4]{3} ?[0-9]+</param>
          </data>
        </attribute>
        <optional>
          <attribute>
            <usfm:tag>ca</usfm:tag>
            <usfm:text strip="both"/>
            <usfm:endtag>ca</usfm:endtag>
            <name ns="">altnumber</name>
            <data type="string">
              <param name="minLength">1</param>
              <param name="pattern">[0-9]+\p{L}?(\x{200F}?[\-,][0-9]+\p{L}?)*</param>
            </data>
          </attribute>
        </optional>
        <optional>
          <attribute>
            <usfm:tag>cp</usfm:tag>
            <usfm:text strip="both"/>
            <usfm:endtag>cp</usfm:endtag>
            <name ns="">pubnumber</name>
            <data type="string">
              <param name="minLength">1</param>
            </data>
          </attribute>
        </optional>
        <empty/>
      </interleave>
    </element>
  </define>
  <define name="ChapterEnd">
    <element>
      <name ns="">chapter</name>
      <attribute>
        <name ns="">eid</name>
        <data type="string">
          <param name="minLength">1</param>
          <param name="pattern">[A-Z1-4]{3} ?[0-9]+</param>
        </data>
      </attribute>
      <empty/>
    </element>
  </define>
  <define name="BookChapterLabel">
    <element>
      <name ns="">para</name>
      <attribute>
        <usfm:tag>cl</usfm:tag>
        <name ns="">style</name>
        <value>cl</value>
      </attribute>
      <text>
        <usfm:text strip="both"/>
      </text>
    </element>
  </define>
  <define name="Verse">
    <choice>
      <ref name="VerseStart"/>
      <ref name="VerseEnd"/>
    </choice>
  </define>
  <define name="VerseStart">
    <element>
      <name ns="">verse</name>
      <attribute>
        <usfm:tag>v</usfm:tag>
        <name ns="">style</name>
        <value>v</value>
      </attribute>
      <attribute>
        <usfm:text strip="both?"/>
        <name ns="">number</name>
        <data type="string">
          <param name="minLength">1</param>
          <param name="pattern">[0-9]+[\p{L}\p{Mn}]*(\x{200F}?[\-,][0-9]+[\p{L}\p{Mn}]*)*</param>
        </data>
      </attribute>
      <optional>
        <attribute>
          <usfm:tag>va</usfm:tag>
          <usfm:text strip="both"/>
          <usfm:endtag>va</usfm:endtag>
          <name ns="">altnumber</name>
          <data type="string">
            <param name="minLength">1</param>
            <param name="pattern">[0-9]+[\p{L}\p{Mn}]*(\x{200F}?[\-,:][0-9]+[\p{L}\p{Mn}]*)*</param>
          </data>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <usfm:tag>vp</usfm:tag>
          <usfm:text strip="both"/>
          <usfm:endtag>vp</usfm:endtag>
          <name ns="">pubnumber</name>
          <data type="string">
            <param name="minLength">1</param>
          </data>
        </attribute>
      </optional>
      <attribute>
        <name ns="">sid</name>
        <data type="string">
          <param name="pattern">[A-Z1-4]{3} ?[a-z0-9\-:\p{L}\p{Mn}]*</param>
        </data>
      </attribute>
      <empty/>
    </element>
  </define>
  <define name="VerseEnd">
    <element>
      <name ns="">verse</name>
      <attribute>
        <name ns="">eid</name>
        <data type="string">
          <param name="pattern">[A-Z1-4]{3} ?[a-z0-9\-:\p{L}\p{Mn}]*</param>
        </data>
      </attribute>
      <empty/>
    </element>
  </define>
  <define name="Footnote">
    <element>
      <name ns="">note</name>
      <attribute>
        <usfm:tag id="a"/>
        <name ns="">style</name>
        <choice>
          <value>f</value>
          <value>fe</value>
          <value>ef</value>
        </choice>
      </attribute>
      <attribute>
        <usfm:text strip="right" re="\S+"/>
        <name ns="">caller</name>
        <text/>
      </attribute>
      <optional>
        <ref name="category"/>
      </optional>
      <optional>
        <ref name="FootnoteReference"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="FootnoteChar"/>
          <ref name="FootnoteReference"/>
        </choice>
      </oneOrMore>
      <usfm:endtag id="a"/>
    </element>
  </define>
  <define name="FootnoteChar">
    <element>
      <name ns="">char</name>
      <attribute>
        <usfm:tag id="a" grouping="10"/>
        <name ns="">style</name>
        <ref name="FootnoteChar.char.style.enum"/>
      </attribute>
      <optional>
        <ref name="char.link" usfm:ignore="true"/>
      </optional>
      <optional>
        <ref name="char.closed" usfm:ignore="true"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="CharEmbed"/>
          <ref name="FootnoteVerse"/>
          <text>
            <usfm:text/>
          </text>
        </choice>
      </oneOrMore>
      <usfm:endtag id="a" many="?" deprecated="true"/>
    </element>
  </define>
  <define name="FootnoteChar.char.style.enum">
    <choice>
      <value>ft</value>
      <value>fk</value>
      <value>fq</value>
      <value>fqa</value>
      <value>fl</value>
      <value>fw</value>
      <value>fp</value>
      <value>fv</value>
      <value>fdc</value>
      <value>xt</value>
      <value>it</value>
      <value>bd</value>
      <value>bdit</value>
      <value>em</value>
      <value>sc</value>
    </choice>
  </define>
  <define name="FootnoteVerse">
    <element>
      <name ns="">char</name>
      <attribute>
        <usfm:tag>fv</usfm:tag>
        <name ns="">style</name>
        <value>fv</value>
      </attribute>
      <text>
        <usfm:text/>
      </text>
      <usfm:endtag>fv</usfm:endtag>
    </element>
  </define>
  <define name="CrossReference">
    <element>
      <name ns="">note</name>
      <attribute>
        <name ns="">style</name>
        <choice>
          <value>x</value>
          <value>ex</value>
        </choice>
      </attribute>
      <attribute>
        <name ns="">caller</name>
        <text/>
      </attribute>
      <oneOrMore>
        <choice>
          <ref name="CrossReferenceChar"/>
          <text/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="CrossReferenceChar">
    <element>
      <name ns="">char</name>
      <attribute>
        <name ns="">style</name>
        <ref name="CrossReferenceChar.char.style.enum"/>
      </attribute>
      <optional>
        <ref name="char.link"/>
      </optional>
      <optional>
        <ref name="char.closed"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="Char"/>
          <ref name="CrossReferenceChar"/>
          <ref name="Reference"/>
          <text/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="CrossReferenceChar.char.style.enum">
    <choice>
      <value>xo</value>
      <value>xop</value>
      <value>xt</value>
      <value>xta</value>
      <value>xk</value>
      <value>xq</value>
      <value>xot</value>
      <value>xnt</value>
      <value>xdc</value>
    </choice>
  </define>
  <define name="Sidebar">
    <element>
      <name ns="">sidebar</name>
      <attribute>
        <name ns="">style</name>
        <value>esb</value>
      </attribute>
      <optional>
        <ref name="category"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="Para"/>
          <ref name="List"/>
          <ref name="Table"/>
          <ref name="Footnote"/>
          <ref name="CrossReference"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="category">
    <attribute>
      <usfm:tag>cat</usfm:tag>
      <usfm:text strip="right*"/>
      <usfm:endtag>cat</usfm:endtag>
      <name ns="">category</name>
      <text/>
    </attribute>
  </define>
  <define name="Figure">
    <element>
      <usfm:tag>fig</usfm:tag>
      <name ns="">figure</name>
      <attribute>
        <usfm:attrib/>
        <name ns="">style</name>
        <text/>
      </attribute>
      <optional>
        <attribute>
          <usfm:attrib/>
          <name ns="">alt</name>
          <text/>
        </attribute>
      </optional>
      <attribute>
        <usfm:attrib/>
        <name ns="">file</name>
        <text/>
      </attribute>
      <optional>
        <attribute>
          <usfm:attrib/>
          <name ns="">size</name>
          <text/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <usfm:attrib/>
          <name ns="">loc</name>
          <text/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <usfm:attrib/>
          <name ns="">copy</name>
          <text/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <usfm:attrib/>
          <name ns="">ref</name>
          <text/>
        </attribute>
      </optional>
      <optional>
        <text>
          <usfm:attrib key="caption"/>
        </text>
      </optional>
    </element>
  </define>
  <define name="FootnoteReference">
    <element>
      <name ns="">ref</name>
      <attribute usfm:order="2">
        <usfm:text strip="left?">|</usfm:text>
        <usfm:text/>
        <usfm:endtag many="?" deprecated="true">fr</usfm:endtag>
        <name ns="">loc</name>
        <data type="string">
          <param name="pattern">[A-Z1-4]{3}(-[A-Z1-4]{3})? ?[a-z0-9\-:]*</param>
        </data>
      </attribute>
      <usfm:tag strip="none">fr</usfm:tag>
      <optional>
        <text>
          <usfm:text strip="left"/>
        </text>
      </optional>
    </element>
  </define>
  <define name="Break">
    <element>
      <name ns="">optbreak</name>
      <empty>
        <usfm:tag lookahead="\">b</usfm:tag>
      </empty>
    </element>
  </define>
</grammar>
