grammar/usx.rnc

# usx.rnc
# A compact syntax Relax NG Schema for USX 3.0.7

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace xsi = "http://www.w3.org/2001/XMLSchema-instance"
datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"
namespace usfm = "http://usfm.bible/parse/2023"

usfm:terminal [name="hs" value="/[\u0009\u0020]/"
    a:documentation ["A single simple horizontal (non newline) whitespace character"]]

usfm:terminal [name="HS" value="/${hs}+/"
    a:documentation ["A sequence of more horizontal whitespace characters"]]

usfm:terminal [name="Hs" value="/${hs}*/"
    a:documentation ["A sequence of zero or more horizontal whitespace characters"]]

usfm:terminal [name="nl" value="/(?:\u000D?\u000A|\u000D)/"
    a:documentation ["A single newline (as supported by all operating systems)"]]

usfm:terminal [name="NL" value="/${nl}+/"
    a:documentation ["A sequence of newline characters"]]

usfm:terminal [name="ws" value="/(?:${hs}|${nl}|$)/"
    a:documentation ["A reducable whitespace character, including a single newline sequence"]]

usfm:terminal [name="anyws" value="/[\u0009\u000A\u000D\u0020]/"
    a:documentation ["Matches any single reducible whitespace character, may split newline"]]

usfm:terminal [name="WS" value="/${anyws}+/"
    a:documentation ["A sequence of reducable whitespace characters"]]

usfm:terminal [name="Ws" value="/${anyws}*/"
    a:documentation ["A sequence of zero or more reducable whitespace characters"]]

usfm:terminal [name="allws" value="/[\u0009-\u000D\u0020\u00A0\u1680\u2000-\u200B\u2028\u2029\u202F\u205F\u3000]/"
    a:documentation ["All possible whitespace characters including content whitespace. Matches a single character"]]

usfm:terminal [name="WSNL" value="/${HS}${NL}/"
    a:documentation ["A sequence of non-newline whitespace up to and including a newline"]]

usfm:terminal [name="TAGEND" value="/(?:${ws}|(?=[\\|]|$))/"
    a:documentation ["Delimits a marker"]]

usfm:terminal [name="TEXTEND" value="/(?=${anyws}*\\|$)/"
    a:documentation ["Delimits simple text"]]

usfm:terminal [name="ATTRIBTEXTEND" value="/${Hs}(?=[\\|])/"
    a:documentation ["Reducable characters following an attribute value"]]

usfm:terminal [name="ATTRIBTEXT" value="/(?:\\[&quot;\\=~/|]|[^\\&quot;])+/"
    a:documentation ["Matches text inside an attribute value (not including the quotes)"]]

usfm:terminal [name="ATTRIBALL" value="/(?:[^\\=]|\\=)+(?=\\)/"
    a:documentation ["Matches a default attribute value string"]]

usfm:terminal [name="ATTRIBNAME" value="/[a-zA-Z0-9\-_]+?/"
    a:documentation ["Matches an attribute name"]]

usfm:terminal [name="TEXT" value="/([^\\]|\\[/~\\|])+/"
    a:documentation ["Matches simple text up to the next marker"]]

usfm:terminal [name="TEXTNWS" value="/.+(?=${Ws}\\[^~/\\])/"
    a:documentation ["Matches simple text without trailing whitespace"]]

usfm:terminal [name="TEXTNOTATTRIB" value="/(?:[^\\|]|\\[\\~/|])+/"
    a:documentation ["Matches simple text up to the start of a sequence of attributes delimited by |"]]

usfm:terminal [name="PIPE" value="/${hs}*(?<!\\)\|${hs}*/"
    a:documentation ["Matches the attributes list delimiter of |"]]

usfm:terminal [name="TLC" value="/[0-9A-Z]{3}/"
    a:documentation ["Three letter uppercase code including digits"]]

usfm:terminal [name="VERSE" value="/[1-9][0-9]*[\p{L}\p{Mn}]*(&#x200F;?[\-,][0-9]+[\p{L}\p{Mn}]*)*/"
    a:documentation ["Verse number, including ranges and sequences"]]

usfm:terminal [name="VID" value="/[A-Z1-4]{3} ?[&#x200F;a-z0-9,\-:\p{L}\p{Mn}]*/"
    a:documentation ["USX eid, sid, vid references"]]

usfm:terminal [name="MID" value="/[\p{L}\d_\-\.:]+/"
    a:documentation ["Milestone sid or eid any identifier, in effect"]]

usfm:terminal [name="HREF" value="/(.*\/\/\/?(.*\/?)+)|((prj:[A-Za-z\-0-9]{3,8} )?[A-Z1-4]{3} \d+:\d+(\-\d+)?)|(#[^\s]+)/"
    a:documentation ["href bible reference"]]

usfm:alias [name="usfm:tag" def="match" usfm:match [before="'\\'" after="TAGEND" afterout="' '"]]
usfm:alias [name="usfm:ptag" def="match" usfm:match [before="/${Ws}\\/" beforeout="'\n\\'" after="TAGEND" afterout="' '"]]
usfm:alias [name="usfm:endtag" def="match" usfm:match [before="'\\'" matchref="a" after="'*'" dump="true"]]
usfm:alias [name="usfm:text" def="match" usfm:match[match="TEXT" after="TEXTEND"]]

start = USX

USX = ( Peripheral | Scripture )

Peripheral = (
    element usx {
        attribute version { xsd:string { minLength = "3" pattern = "\d+\.\d+(\.\d+)?"} },
        attribute xsi:noNamespaceSchemaLocation { text }?,

        (PeripheralBook | PeripheralDividedBook)
    })

Scripture = (
    [usfm:stacked = "true"]
    element usx {
        attribute version { xsd:string { minLength = "3" pattern = "\d+\.\d+(\.\d+)?"} },
        attribute xsi:noNamespaceSchemaLocation { text }?,

        BookIdentification,
        [usfm:seq = "true"]( BookHeaders*,
        BookTitles*,
        BookIntroduction*,
        BookIntroductionEndTitles*,
        BookChapterLabel?,
        Chapter,
        # Chapter is used to separate intro from scripture text.
        # All books will have chapter including the single chapter books: OBA, PHM, 2JN, 3JN, JUD
        ChapterContent+ )
    })

PeripheralBook = (
    PeripheralBookIdentification,
    BookHeaders*,
    BookTitles+,
    BookIntroduction*,
    BookIntroductionEndTitles*,
    PeripheralContent+
    )

PeripheralDividedBook = ( PeripheralDividedBookIdentification, (PeripheralDivision | PeripheralOther))

BookIdentification =
    element book {
        [usfm:tag[before="/&#xFEFF;?${anyws}*\\/" beforeout="'\\'" usfm:seq="true"]]
        attribute style { "id" },
        [usfm:grouping="13" usfm:match[]]
        attribute code { BookIdentification.book.code.enum }, # e.g. code="GEN"
        [usfm:seq="true"]([usfm:match[before="/${hs}*/" beforeout="' '" match="/[^\\\n\r]*/"]]
        (text)? # Brief description of the project (optional)
        >> usfm:match[match="NL" matchout="'\n'" dump="true"])
    }

BookIdentification.book.code.enum = (
       "GEN" # Genesis
     | "EXO" # Exodus
     | "LEV" # Leviticus
     | "NUM" # Numbers
     | "DEU" # Deuteronomy
     | "JOS" # Joshua
     | "JDG" # Judges
     | "RUT" # Ruth
     | "1SA" # 1 Samuel
     | "2SA" # 2 Samuel
     | "1KI" # 1 Kings
     | "2KI" # 2 Kings
     | "1CH" # 1 Chronicles
     | "2CH" # 2 Chronicles
     | "EZR" # Ezra
     | "NEH" # Nehemiah
     | "EST" # Esther (Hebrew)
     | "JOB" # Job
     | "PSA" # Psalms
     | "PRO" # Proverbs
     | "ECC" # Ecclesiastes
     | "SNG" # Song of Songs
     | "ISA" # Isaiah
     | "JER" # Jeremiah
     | "LAM" # Lamentations
     | "EZK" # Ezekiel
     | "DAN" # Daniel (Hebrew)
     | "HOS" # Hosea
     | "JOL" # Joel
     | "AMO" # Amos
     | "OBA" # Obadiah
     | "JON" # Jonah
     | "MIC" # Micah
     | "NAM" # Nahum
     | "HAB" # Habakkuk
     | "ZEP" # Zephaniah
     | "HAG" # Haggai
     | "ZEC" # Zechariah
     | "MAL" # Malachi
     | "MAT" # Matthew
     | "MRK" # Mark
     | "LUK" # Luke
     | "JHN" # John
     | "ACT" # Acts
     | "ROM" # Romans
     | "1CO" # 1 Corinthians
     | "2CO" # 2 Corinthians
     | "GAL" # Galatians
     | "EPH" # Ephesians
     | "PHP" # Philippians
     | "COL" # Colossians
     | "1TH" # 1 Thessalonians
     | "2TH" # 2 Thessalonians
     | "1TI" # 1 Timothy
     | "2TI" # 2 Timothy
     | "TIT" # Titus
     | "PHM" # Philemon
     | "HEB" # Hebrews
     | "JAS" # James
     | "1PE" # 1 Peter
     | "2PE" # 2 Peter
     | "1JN" # 1 John
     | "2JN" # 2 John
     | "3JN" # 3 John
     | "JUD" # Jude
     | "REV" # Revelation
     | "TOB" # Tobit
     | "JDT" # Judith
     | "ESG" # Esther Greek
     | "WIS" # Wisdom of Solomon
     | "SIR" # Sirach (Ecclesiasticus)
     | "BAR" # Baruch
     | "LJE" # Letter of Jeremiah
     | "S3Y" # Song of 3 Young Men
     | "SUS" # Susanna
     | "BEL" # Bel and the Dragon
     | "1MA" # 1 Maccabees
     | "2MA" # 2 Maccabees
     | "3MA" # 3 Maccabees
     | "4MA" # 4 Maccabees
     | "1ES" # 1 Esdras (Greek)
     | "2ES" # 2 Esdras (Latin)
     | "MAN" # Prayer of Manasseh
     | "PS2" # Psalm 151
     | "ODA" # Odes
     | "PSS" # Psalms of Solomon
     | "EZA" # Apocalypse of Ezra
     | "5EZ" # 5 Ezra
     | "6EZ" # 6 Ezra
     | "DAG" # Daniel Greek
     | "PS3" # Psalms 152-155
     | "2BA" # 2 Baruch (Apocalypse)
     | "LBA" # Letter of Baruch
     | "JUB" # Jubilees
     | "ENO" # Enoch
     | "1MQ" # 1 Meqabyan
     | "2MQ" # 2 Meqabyan
     | "3MQ" # 3 Meqabyan
     | "REP" # Reproof
     | "4BA" # 4 Baruch
     | "LAO" # Laodiceans
     | [usfm:match[]] xsd:string { pattern = "[0-9A-Z]{3}" }
     )

PeripheralBookIdentification =
    element book {
        [usfm:tag[before="/&#xFEFF;?${anyws}*\\/" beforeout="'\\'" usfm:seq="true"]]
        attribute style { "id" },
        [usfm:match[]] attribute code { PeripheralBookIdentification.book.code.enum }, # e.g. code="CNC"
        [usfm:seq="true"]([usfm:match[before="/${hs}*/" beforeout="' '" match="/[^\\\n\r]*/"]]
        (text)? # Brief description of the project (optional)
        >> usfm:match[match="NL" matchout="'\n'" dump="true"])
     }

PeripheralBookIdentification.book.code.enum = (
       "CNC" # Concordance
     | "GLO" # Glossary
     | "TDX" # Topical Index
     | "NDX" # Names Index }
     )

PeripheralDividedBookIdentification =
    element book {
        [usfm:tag[before="/&#xFEFF;?${anyws}*\\/" beforeout="'\\'" usfm:seq="true"]]
        attribute style { "id" },
        [usfm:match[]] attribute code { PeripheralDividedBookIdentification.book.code.enum }, # e.g. code="FRT"
        [usfm:seq="true"]([usfm:match[before="/${hs}*/" beforeout="' '" match="/[^\\\n\r]*/"]]
        (text)? # Brief description of the project (optional)
        >> usfm:match[match="NL" matchout="'\n'" dump="true"])
    }

PeripheralDividedBookIdentification.book.code.enum = (
       "XXA" # Extra A, e.g. a hymnal
     | "XXB" # Extra B
     | "XXC" # Extra C
     | "XXD" # Extra D
     | "XXE" # Extra E
     | "XXF" # Extra F
     | "XXG" # Extra G
     | "FRT" # Front Matter
     | "BAK" # Back Matter
     | "OTH" # Other Matter
     | "INT" # Introduction }
     )

PeripheralDivision =
    [usfm:stacked="true" usfm:match[usfm:order="-3" before="/${Ws}\\periph${HS}/" beforeout="'\\periph '" match="''"]]
    element periph {
        [usfm:match[match="TEXTNOTATTRIB" usfm:seq="true"]] attribute alt { text }?,
        [usfm:grouping="15" usfm:match[before="/${PIPE}${Hs}id=?&quot;/" beforeout="'|id=&quot;'" after="'&quot;'" usfm:seq="true"]]
        attribute id {
              Peripheral.FRT.periph.id.enum
            | Peripheral.INT.periph.id.enum
            | Peripheral.BAK.periph.id.enum
            | Peripheral.OTH.periph.id.enum
            | xsd:string { pattern = "x\-[\p{L}_\-\.:]+" } },
        BookHeaders*,
        BookTitles*,
        BookIntroduction*,
        BookIntroductionEndTitles*,
        PeripheralContent*
    }

Peripheral.FRT.periph.id.enum = (
      "title"
    | "halftitle"
    | "promo"
    | "imprimatur"
    | "pubdata"
    | "foreword"
    | "preface"
    | "contents"
    | "alphacontents"
    | "abbreviations"
    )

Peripheral.INT.periph.id.enum = (
      "intbible"
    | "intot"
    | "intpent"
    | "inthistory"
    | "intpoetry"
    | "intprophesy"
    | "intdc"
    | "intnt"
    | "intgospels"
    | "intepistles"
    | "intletters"
    )

Peripheral.BAK.periph.id.enum = (
      "chron"
    | "measures"
    | "maps"
    | "lxxquotes"
    )

Peripheral.OTH.periph.id.enum = (
      "cover"
    | "spine"
    | [usfm:match[]] xsd:string 
    )

PeripheralOther = (
    BookHeaders*,
    BookTitles*,
    BookIntroduction*,
    BookIntroductionEndTitles*,
    PeripheralContent*
    )

BookHeaders =
    element para {
        [usfm:grouping="8" usfm:ptag[]] attribute style { BookHeaders.para.style.enum },
        [usfm:text[]] text?
    }

BookHeaders.para.style.enum = (
      "ide" # File encoding information (DEPRECATED)
    | "h1" # Running header text 
    | "h2" # Running header text, left side of page (DEPRECATED)
    | "h3" # Running header text, right side of page (DEPRECATED)
    | "h" # Running header text for a book
    | "toc1" # Long table of contents text
    | "toc2" # Short table of contents text
    | "toc3" # Book Abbreviation
    | "toca1" # Alternative language long table of contents text
    | "toca2" # Alternative language short table of contents text
    | "toca3" # Alternative language book Abbreviation
    | "rem" # Remark
    | "sts" # Status
    | "usfm" # USFM markup version information (may occur if USX was generated from USFM)
    )

BookTitles =
    element para {
        [usfm:ptag[]] attribute style { BookTitles.para.style.enum },
        ([usfm:text[]] text | Footnote | CrossReference | Char | Break)*
    }

BookTitles.para.style.enum = (
      "mt1" # The main title of the book (if multiple levels)
    | "mt2" # A secondary title usually occurring before the main title
    | "mt3" # A tertiary title occurring after the main title
    | "mt4"
    | "mt" # The main title of the book (if single level)
    | "imt1" # Introduction major title, level 1 (if multiple levels)
    | "imt2" # Introduction major title, level 2
    | "imt" # Introduction major title, level 1 (if single level)
    | "rem" # Remark
    )

BookIntroduction =
    element para {
        [usfm:grouping="12" usfm:ptag[]] attribute style { BookIntroduction.para.style.enum },
        ([usfm:text[]] text | Char | IntroChar | Footnote | CrossReference | Figure | Milestone | Reference | Sidebar)*
    } | Table

BookIntroduction.para.style.enum = (
      "imt1" # Introduction major title, level 1 (if multiple levels)
    | "imt2" # Introduction major title, level 2
    | "imt3" # Introduction major title, level 3
    | "imt4" # Introduction major title, level 4 (usually within parenthesis)
    | "imte1" # Introduction major title at introduction end, level 1 (if multiple levels)
    | "imte2" # Introduction major title at introduction end, level 2
    | "imte" # Introduction major title at introduction end, level 1 (if single level)
    | "imt" # Introduction major title, level 1 - (if single level)
    | "ib" # Introduction blank line
    | "ie" # Introduction ending marker
    | "ili1" # A list entry, level 1 (if multiple levels)
    | "ili2" # A list entry, level 2
    | "ili" # A list entry, level 1 (if single level)
    | "imi" # Introduction prose paragraph text, indented, with no first line indent
    | "imq" # Introduction prose paragraph, quote from the body text, with no first line indent
    | "im" # Introduction prose paragraph, with no first line indent (may occur after poetry)
    | "io1" # Introduction outline text, level 1 (if multiple levels)
    | "io2" # Introduction outline text, level 2
    | "io3" # Introduction outline text, level 3
    | "io4" # Introduction outline text, level 4
    | "iot" # Introduction outline title
    | "io" # Introduction outline text, level 1 (if single level)
    | "ipi" # Introduction prose paragraph, indented, with first line indent
    | "ipq" # Introduction prose paragraph, quote from the body text
    | "ipr" # Introduction prose paragraph, right aligned
    | "ip" # Introduction prose paragraph
    | "iq1" # Introduction poetry text, level 1 (if multiple levels)
    | "iq2" # Introduction poetry text, level 2
    | "iq3" # Introduction poetry text, level 3
    | "iq" # Introduction poetry text, level 1 (if single level)
    | "is1" # Introduction section heading, level 1 (if multiple levels)
    | "is2" # Introduction section heading, level 2
    | "is" # Introduction section heading, level 1 (if single level)
    | "iex" # Introduction explanatory or bridge text (e.g. explanation of missing book in Short Old Testament)
    | "rem" # Remark
    )

BookIntroductionEndTitles =
    element para {
        [usfm:ptag[]] attribute style { BookIntroductionEndTitles.para.style.enum },
        ([usfm:text[ahead="'\'"]] text | Footnote | CrossReference | Char | Figure | Milestone | Break)*
    }
BookIntroductionEndTitles.para.style.enum = (
      "mt1" # The main title of the book (if multiple levels)
    | "mt2" # A secondary title usually occurring before the main title
    | "mt3" # A tertiary title occurring after the main title
    | "mt4" # A small secondary title sometimes occuring within parentheses
    | "mt"  # The main title of the book (if single level)
    | "imt" # Introduction major title, level 1 (if single level)
    | "imt1" # Introduction major title, level 1 (if multiple levels)
    | "imt2" # Introduction major title, level 2
    )

ChapterContent = (Para | Section | Chapter | Figure | Milestone | Footnote | CrossReference | List | Table | Sidebar)

PeripheralContent = (Para | Section | Chapter | Figure | Milestone | Footnote | CrossReference | List | Table | Sidebar)

Section =
    element para {
        [usfm:grouping="15" usfm:ptag[matchid="a" usfm:stacked="true"]]
        attribute style { Section.para.style.enum },
        attribute vid { [usfm:pattern[name="VERSE"]] xsd:string { pattern = "[A-Z1-4]{3} ?[a-z0-9\-:]*(&#x200F;?[\-,][0-9]+)*" } }?,
        ([usfm:text[]] text | Footnote | CrossReference | Char | Figure | Milestone | [usfm:ignore="true"] VerseEnd | Reference | Break)*
    }

Section.para.style.enum = (
      "restore" # Comment about when text was restored
    | "iex" # Introduction explanatory or bridge text (e.g. explanation of missing book in Short Old Testament)
    | "ip" # Division or Section introductory paragraph (study Bible)
    | "ms1" # A major section division heading, level 1 (if multiple levels)
    | "ms2" # A major section division heading, level 2
    | "ms3" # A major section division heading, level 3
    | "ms" # A major section division heading, level 1 (if single level)
    | "mr" # A major section division references range heading
    | "mte1" # The main title of the book repeat /ed at the end of the book, level 1 (if multiple levels)
    | "mte2" # A secondary title occurring before or after the 'ending' main title
    | "mte" # The main title of the book repeated at the end of the book, level 1 (if single level)
    | "r" # Parallel reference(s)
    | "s1" # A section heading, level 1 (if multiple levels)
    | "s2" # A section heading, level 2 (e.g. Proverbs 22-24)
    | "s3" # A section heading, level 3 (e.g. Genesis "The First Day") (\s3 can take a \v!)
    | "s4" # A section heading, level 4
    | "sr" # A section division references range heading
    | "sp" # A heading, to identify the speaker (e.g. Job)
    | "sd1" # Semantic division location (vertical space used to divide the text into sections), level 1 (if multiple levels)
    | "sd2" # Semantic division location (vertical space used to divide the text into sections), level 2
    | "sd3" # Semantic division location (vertical space used to divide the text into sections), level 3
    | "sd4" # Semantic division location (vertical space used to divide the text into sections), level 4
    | "sd" # Vertical space used to divide the text into sections, level 1 (if single level)
    | "s" # A section heading, level 1 (if single level)
    | "cl" # Chapter label used for translations that add a word such as "Chapter"
    | "cd" # Chapter Description (Publishing option D, e.g. in Russian Bibles)
    )

Para = 
    element para {
        ([usfm:grouping="15" usfm:ptag[usfm:stacked="true"]] attribute style { Para.nonpara.style.enum } |
        [usfm:grouping="15" usfm:ptag[usfm:stacked="true"]] attribute style { Para.para.style.enum }),
        attribute vid { [usfm:pattern[name="VERSE"]] xsd:string { pattern = "[A-Z1-4]{3} ?[a-z0-9\-:]*(&#x200F;?[\-,][0-9]+)*" } }?,
        ([usfm:text[]] text | Char | Figure | Milestone | Verse | Reference | Footnote | CrossReference | Break)*
    }

Para.para.style.enum = (
    "cls" # Closure of an Epistle
    | "nb" # Paragraph text, with no break from previous paragraph text (at chapter boundary)
    | "pc" # Inscription (paragraph text centered)
    | "pi1" # Paragraph text, level 1 indent (if multiple levels), with first line indent; often used for discourse
    | "pi2" # Paragraph text, level 2 indent, with first line indent; often used for discourse
    | "pi3" # Paragraph text, level 3 indent, with first line indent; often used for discourse
    | "pi" # Paragraph text, level 1 indent (if single level), with first line indent; often used for discourse
    | "po" # Letter opening
    | "pr" # Text refrain (paragraph right-aligned)
    | "pmo" # Embedded text opening
    | "pmc" # Embedded text closing
    | "pmr" # Embedded text refrain
    | "pm" # Embedded text paragraph
    | "ph1" # Paragraph text, with level 1 hanging indent (if multiple levels)
    | "ph2" # Paragraph text, with level 2 hanging indent
    | "ph3" # Paragraph text, with level 3 hanging indent
    | "ph" # Paragraph text, with level 1 hanging indent (if single level) (DEPRECATED - use para@style li#)
    | "p" # Paragraph text, with first line indent
    | "q1" # Poetry text, level 1 indent (if multiple levels)
    | "q2" # Poetry text, level 2 indent
    | "q3" # Poetry text, level 3 indent
    | "q4" # Poetry text, level 4 indent
    | "qc" # Poetry text, centered
    | "qr" # Poetry text, Right Aligned
    | "qm1" # Poetry text, embedded, level 1 indent (if multiple levels)
    | "qm2" # Poetry text, embedded, level 2 indent
    | "qm3" # Poetry text, embedded, level 3 indent
    | "qm" # Poetry text, embedded, level 1 indent (if single level)
    | "qd" # A Hebrew musical performance annotation, similar in content to Hebrew descriptive title.
    | "q" # Poetry text, level 1 indent (if single level)
    | "b" # Poetry text stanza break (e.g. stanza break)
    | "d" # A Hebrew text heading, to provide description (e.g. Psalms)
    | "mi" # Paragraph text, indented, with no first line indent; often used for discourse
    | "m" #  Paragraph text, with no first line indent (may occur after poetry) aka: Paragraph Continuation
    | "ts" # Translator's chunk (to identify chunks of text suitable for translating at one time)
    )

Para.nonpara.style.enum = (
    "lit" # For a comment or note inserted for liturgical use
    | "cp" # Chapter published style
    | "pb" # Page Break used for new reader portions and children's bibles where content is controlled by the page
    | "p1" # Front or back matter text paragraph, level 1 (if multiple levels)
    | "p2" # Front or back matter text paragraph, level 2 (if multiple levels)
    | "qa" # Poetry text, Acrostic marker/heading
    | "k1" # Concordance main entry text or keyword, level 1
    | "k2" # Concordance main entry text or keyword, level 2
    | "rem" # Remark
    | "sts" # Remark
)

List =
    element para {
        [usfm:grouping="8" usfm:ptag[]] attribute style { List.para.style.enum },
        attribute vid { [usfm:pattern[name="VERSE"]] xsd:string { pattern = "[A-Z1-4]{3} ?[a-z0-9\-:]*(&#x200F;?[\-,][0-9]+)*" } }?,
        ([usfm:text[]] text | ListChar | Char | Figure | Milestone | Verse | Reference | Footnote | CrossReference | Break)*
    }

List.para.style.enum = (
      "lh" # List header (introductory remark)
    | "li1" # A list entry, level 1 (if multiple levels)
    | "li2" # A list entry, level 2
    | "li3" # A list entry, level 3
    | "li4" # A list entry, level 4
    | "lim1" # An embedded list entry, level 1 (if multiple levels)
    | "lim2" # An embedded list entry, level 2
    | "lim3" # An embedded list entry, level 3
    | "lim4" # An embedded list entry, level 4
    | "lim" # An embedded list entry, level 1 (if single level)
    | "li" # A list entry, level 1 (if single level)
    | "lf" # List footer (introductory remark)
    )

Table = 
    element table {
        attribute vid { xsd:string { pattern = "[A-Z1-4]{3} ?[a-z0-9\-:]*(&#x200F;?[\-,][0-9]+)*" } }?,
        element row {
            [usfm:ptag[]]
            attribute style {
                ("tr") # Table row
            },
            ([usfm:ignore="true"]Verse | TableContent)+
        }+
    }

TableContent =
    element cell {
        [usfm:ptag[]]
        attribute style { xsd:string { pattern = "t[hc][rc]?\d+" } },
        attribute align { cell.align.enum },
        attribute colspan { xsd:integer }?,
        ([usfm:text[]] text | Char | Figure | Milestone | Verse | Footnote | CrossReference | Break)*
    }
           
cell.align.enum = (
      "start" # left in LTR, right in RTL
    | "center" # center
    | "end" # right in LTR, left in RTL
    )

IntroChar =
    element char {
        [usfm:tag[matchid="a" usfm:seq="true"]] attribute style { IntroChar.char.style.enum },
        char.closed?,
        ([usfm:text[]] text | Char | Figure | Milestone | Reference | Footnote | CrossReference | Break)+
        >> usfm:endtag[usfm:order="3" ahead="/[^\\]/" usfm:many="?" usfm:seq="true"]
    }
IntroChar.char.style.enum = (
      "ior" # Introduction references range for outline entry; for marking references separately
    | "iqt" # For quoted scripture text appearing in the introduction
    )

NoteCharContent = (
    [usfm:ignore="true"]char.closed?,
    ([usfm:match[match="TEXTNOTATTRIB" after="ATTRIBTEXTEND"]] text
        | NoteCharEmbed | Figure | Milestone | Reference | Break)* # Nested character <char> markup
    )

Attributes = (
    [usfm:match[match="PIPE" matchout="'|'" dump="true"]]
       ([usfm:fallback-from="style" usfm:matchpair[first="ATTRIBNAME" between="'=&quot;'"
                second="ATTRIBTEXT" after="/&quot;${Hs}/" afterout="'&quot;'" fallback="ATTRIBALL"]]
        attribute * - (style | closed) {xsd:string}+)
    )

Char = (
    [usfm:stacked="true"]
    element char {
        [usfm:grouping="12" usfm:tag[matchid="a" usfm:seq="true"]] attribute style { FullChar.char.style.enum },
        ( (CharContent, Attributes?) | Attributes)
        >> usfm:endtag[usfm:seq="true"]  # required
    })

CharContent = (
    [usfm:ignore="true"]char.closed?,
    ([usfm:match[match="TEXTNOTATTRIB" after="ATTRIBTEXTEND"]] text
        | CharEmbed | Figure | Milestone | Footnote | CrossReference | Reference | Break)+ # Nested character <char> markup
    )

FullCharExtra.char.style.enum = (
    [usfm:propval="link-href"] "xt" # A target reference(s)
    )

FullChar.char.style.enum = (
    Char.char.style.enum
    | FullCharExtra.char.style.enum
    )

Char.char.style.enum = (
      "vp" # Published verse marker - this is a verse marking that would be used in the published text
    | "qac" # Poetry text, Acrostic markup of the first character of a line of acrostic poetry
    | "qs" # Poetry text, Selah
    | "add" # For a translational addition to the text
    | "addpn" # For chinese words to be dot underline & underline (DEPRECATED - used nested char@style pn)
    | "bk" # For the quoted name of a book
    | "dc" # Deuterocanonical/LXX additions or insertions in the Protocanonical text
    | "efm" # Reference to caller of previous footnote in a study Bible
    | "fm" # Reference to caller of previous footnote
    | "fv" # A verse number within the footnote text
    | "k" # For a keyword
    | "nd" # For name of deity
    | "ndx" # A subject index text item
    | "ord" # For the text portion of an ordinal number
    | "png" # For a geographic proper name
    | "pn" # For a proper name
    | "pro" # For indicating pronunciation in CJK texts (DEPRECATED - used char@style rb)
    | "qt" # For Old Testament quoted text appearing in the New Testament
    | "rq" # A cross-reference indicating the source text for the preceding quotation.
    | "sig" # For the signature of the author of an Epistle
    | "sls" # To represent where the original text is in a secondary language or from an alternate text source
    | "tl" # For transliterated words
    | "wg" # A Greek Wordlist text item
    | "wh" # A Hebrew wordlist text item
    | "wa" # An Aramaic wordlist text item
    | "wj" # For marking the words of Jesus
    | "jmp" # For associating linking attributes to a span of text
    | "no" # A character style, use normal text
    | "it" # A character style, use italic text
    | "bdit" # A character style, use bold + italic text
    | "bd" # A character style, use bold text
    | "em" # A character style, use emphasized text style
    | "sc" # A character style, for small capitalization text
    | "sup" # A character style, for superscript text. Typically for use in critical edition footnotes.
    | [usfm:propval="lemma"] "w"
    | [usfm:propval="gloss"] "rb"
    | "jmp"
    )

CharEmbed = (
    element char {
        ([usfm:stacked="true" usfm:grouping="9" usfm:tag[matchid="b" before="'\\'" usfm:seq="true"]] attribute style { FullChar.char.style.enum },
        ((CharContent, Attributes?) | Attributes)
        >> usfm:endtag[matchref="b" before="'\\'"])
      |
        ([usfm:stacked="true" usfm:grouping="9" usfm:tag[matchid="a" before="'\\+'" usfm:seq="true"]] attribute style { FullChar.char.style.enum },
        ((CharContent, Attributes?) | Attributes)
        >> usfm:endtag[matchref="a" before="'\\+'"])
    })

NoteCharEmbed = (
    element char {
        [usfm:stacked="true" usfm:grouping="9" usfm:tag[matchid="c" before="'\\'" usfm:seq="true"]] attribute style { FullChar.char.style.enum },
        NoteCharContent,
        Attributes?
        >> usfm:endtag[matchref="c" before="'\\'"]
    } |
    element char {
        [usfm:stacked="true" usfm:grouping="9" usfm:tag[matchid="b" before="'\\+'" usfm:seq="true"]] attribute style { FullChar.char.style.enum },
        NoteCharContent,
        Attributes?
        >> usfm:endtag[matchref="b" before="'\\+'"]
    })

ListChar = (
    element char {
        [usfm:tag[matchid="a"]] attribute style { ListChar.char.style.enum },
        char.closed?,
        ([usfm:text[]] text | Char | Figure | Milestone | Footnote | CrossReference | Break | Reference)* # Nested character <char> markup
        >> usfm:endtag[usfm:many="?"]
    })

ListChar.char.style.enum = (
      "litl" # List entry total text
    | "lik" # Structured list entry key text
    | "liv1" # Structured list entrt value 1 content (if multiple values)
    | "liv2" # Structured list entry value 2 content
    | "liv3" # Structured list entry value 3 content
    | "liv4" # Structured list entry value 4 content
    | "liv5" # Structured list entry value 5 content
    | "liv" # Structured list entry value 1 content (if single value)
    )

Figure = ([usfm:alt="FigureTwo"] FigureThree)

FigureThree = 
    element figure {
        [usfm:order="-2" usfm:tag [matchid="a"]] attribute style { "fig" },
        [usfm:ignore="true"] char.closed?,
        [usfm:order="-1"] ([usfm:match[match="TEXTNOTATTRIB"]] text?), # Nested character <char> markup. Can an attributed char have sub char markup? ATM no.
        Attributes?
        >> usfm:endtag[usfm:order="4"]
    }

FigureTwo =
    element figure {
        [usfm:tag [matchid="a"]] attribute style { "fig" },
        char.closed?,
        [usfm:match[match="TEXTNOTATTRIB"]] attribute alt {xsd:string},
        [usfm:match[before="PIPE" beforeout="|" match="TEXTNOTATTRIB"]] attribute src {xsd:string},
        [usfm:match[before="PIPE" beforeout="|" match="TEXTNOTATTRIB"]] attribute size {xsd:string}, 
        [usfm:match[before="PIPE" beforeout="|" match="TEXTNOTATTRIB"]] attribute loc {xsd:string}, 
        [usfm:match[before="PIPE" beforeout="|" match="TEXTNOTATTRIB"]] attribute copy {xsd:string}, 
        [usfm:match[before="PIPE" beforeout="|" match="TEXTNOTATTRIB"]] attribute alt {xsd:string}, 
        [usfm:match[before="PIPE" beforeout="|" match="TEXTNOTATTRIB"]] attribute ref {xsd:string}
        >> usfm:endtag[]
    }

char.closed =
    [usfm:ignore="true"] attribute closed { xsd:boolean } # Present to allow roundtripping to USFM, not needed for publishing

Milestone = (
    (element ms {
        # [usfm:tag[after="/\s?(?=[\\|])/"]] attribute style { xsd:string {pattern="[a-z][a-z0-9-]*" }},
        [usfm:tag[after="Hs" afterout=""]] attribute style { Milestone.enum },
        Attributes?,
        empty
    } >> usfm:endtag[matchref="''"])
    )

Milestone.enum = (
      [usfm:propval="who"] "ts-s"
    | "ts-e"
    | "t-s"
    | "t-e"
    | "ts"
    | "fp" # A Footnote additional paragraph marker
    | "qt1-s"
    | "qt1-e"
    | "qt2-s"
    | "qt2-e"
    | "qt3-s"
    | "qt3-e"
    | "qt4-s"
    | "qt4-e"
    | "qt5-s"
    | "qt5-e"
    | [usfm:propval="who"] "qts"
    | "qte"
    | [usfm:propval="who"] "qt-s"
    | "qt-e"
)

Chapter = ( ChapterStart | [usfm:ignore = "true"]ChapterEnd )

ChapterStart =
    [usfm:stacked="true"]
    element chapter { # Start of new chapter
        [usfm:ptag[usfm:seq="true" after="HS"]]
        attribute style { "c" },
        [usfm:match[after="TAGEND" afterout="' '" usfm:seq="true"]]
        attribute number { xsd:string { pattern = "[1-9][0-9]*" } },
        attribute sid { [usfm:pattern[name="VID"]] xsd:string { minLength = "1" pattern = "[A-Z1-4]{3} ?[0-9]+" } }?,
        [usfm:match [before="/\\ca${HS}/" beforeout="'\\ca '" after="/\\ca\*${Hs}/" afterout="'\\ca* '"]]
        attribute altnumber { [usfm:pattern[name="VERSE"]] xsd:string { minLength = "1" pattern = "[1-9][0-9]*\p{L}?(&#x200F;?[\-,][0-9]+\p{L}?)*" } }?,
        [usfm:match [before="/${Ws}\\cp${HS}/" beforeout="'\n\\cp '" match="TEXTNWS"]]
        attribute pubnumber { xsd:string { minLength = "1" } }?,
        empty
    }
    # E.g. <chapter number="1" style="c" altnumber="2" pubnumber="A" />
    # This schema will not support a chapter:verse string within altnumber

ChapterEnd =
    element chapter { # End of chapter
        attribute eid { xsd:string { minLength = "1" pattern = "[A-Z1-4]{3} ?[0-9]+" } },
        empty
    }
    
BookChapterLabel =
    element para { 
        [usfm:ptag[]]
        attribute style { "cl" }, # Chapter label for book, specified once prior to chapter 1
        [usfm:match[match="/[^\\]+(?=${NL})/" after="NL" afterout="'\n'"]]
        text
    }

Verse = ( VerseStart | [usfm:ignore="true"]VerseEnd )

VerseStart =
    [usfm:stacked = "true"]
    element verse {
        [usfm:tag[usfm:seq="true"]]
        attribute style { "v" },
        [usfm:match[usfm:seq="true" after="TAGEND" afterout="' '"]]
        attribute number { [usfm:pattern[name="VERSE"]] xsd:string { minLength = "1" pattern = "[1-9][0-9]*[\p{L}\p{Mn}]*(&#x200F;?[\-,][0-9]+[\p{L}\p{Mn}]*)*" } },
        [usfm:tag[dump="true" before="/\\va${HS}/" beforeout="'\\va '" after="/\\va\*${Hs}/" afterout="'\\va* '"]]
        attribute altnumber { [usfm:pattern[name="VERSE"]] xsd:string { minLength = "1" pattern = "[1-9][0-9]*[\p{L}\p{Mn}]*(&#x200F;?[\-,:][0-9]+[\p{L}\p{Mn}]*)*" } }?,
        [usfm:tag[dump="true" before="/\\vp${HS}/" beforeout="'\\vp '" after="/\\vp\*${Hs}/" afterout="'\\vp* '"]]
        attribute pubnumber { xsd:string { minLength = "1" } }?,
        [usfm:ignore="true"]
        attribute sid { [usfm:pattern[name="VID"]] xsd:string { pattern = "[A-Z1-4]{3} ?[&#x200F;a-z0-9,\-:\p{L}\p{Mn}]*" } }?,
        empty
    }
    # E.g. <verse number="1" style="v" altnumber="2" pubnumber="B" smatchid="GEN 1:22" />
    # This attribute order disagrees with USFM order

VerseEnd =
    element verse {
        attribute eid { [usfm:pattern[name="VID"]] xsd:string { pattern = "[A-Z1-4]{3} ?[&#x200F;a-z0-9,\-:\p{L}\p{Mn}]*" } },
        empty
    }

Footnote =
    element note {
        [usfm:tag[matchid="a"]]
        attribute style { "fe" | "f" | "efe" | "ef" },
        [usfm:match[match="/[^\\\s]+/" after="Hs" afterout="' '"]]
        attribute caller { text },
        category?,
        FootnoteChar+ 
        >> usfm:endtag[before="/${Ws}\\/" beforeout="'\\'"]
    }

FootnoteChar =
    element char {
        [usfm:grouping="8" usfm:tag[matchid="b"]]
        attribute style { FootnoteChar.char.style.enum },
        [usfm:ignore="true"]
        char.closed?,
        ([usfm:text[]] text | NoteCharEmbed | Reference)*
        >> usfm:endtag[matchref="b" noout="true" usfm:many="?" after="'*'"]
    }

FootnoteChar.char.style.enum = (
      "fr" # The origin reference for the footnote
    | "ft" # Footnote text, Protocanon
    | "fk" # A footnote keyword
    | "fqa" # A footnote alternate rendering for a portion of scripture text
    | "fq" # A footnote scripture quote or alternate rendering
    | "fl" # A footnote label text item, for marking or "labelling" the type or alternate translation being provided in the note.
    | "fw" # A footnote witness list, for distinguishing a list of sigla representing witnesses in critical editions.
    | "fdc" # Footnote text, applies to Deuterocanon only (DEPRECATED - use char@style dc)
    | "it" # A character style, use italic text
    | "bdit" # A character style, use bold + italic text
    | "bd" # A character style, use bold text
    | "em" # A character style, use emphasized text style
    | "sc" # A character style, for small capitalization text; abbreviations
    )

CrossReference =
    element note {
        [usfm:tag[matchid="a"]]
        attribute style { "x" | "ex" },
        [usfm:match[match="/[^\\\s]+/" after="Hs" afterout="' '"]]
        attribute caller { text },
        CrossReferenceChar*
        >> usfm:endtag[]
    }

CrossReferenceChar =
    element char {
        [usfm:tag[matchid="b"]]
        attribute style { CrossReferenceChar.char.style.enum },
        [usfm:ignore="true"]
        char.closed?,
        ([usfm:text[]] text | NoteCharEmbed | Reference)+
        >> usfm:endtag[matchref="b" noout="true" usfm:many="?" after="/\*${Hs}/"]
    }
CrossReferenceChar.char.style.enum = (
      "xop" # Published cross reference origin text (origin reference that should appear in the published text)
    | "xo" # The cross reference origin reference
    | "xta" # Cross reference target references added text
    | "xt" # The cross reference target reference(s), protocanon only
    | "xk" # A cross reference keyword
    | "xq" # A cross-reference quotation from the scripture text
    | "xot" # Cross-reference target reference(s), Old Testament only
    | "xnt" # Cross-reference target reference(s), New Testament only
    | "xdc" # Cross-reference target reference(s), Deuterocanon only (DEPRECATED - use char@style dc)
    )

Sidebar =
    element sidebar {
        [usfm:ptag[]]
        attribute style { "esb" },
        category?,
        (Section | Para | List | Table | Footnote | CrossReference)+
        >> usfm:ptag[dump="true" afterout="'\n'" "esbe"]
    }

category =
    [usfm:tag[dump="true" before="/\\cat${Hs}/" beforeout="'\\cat '" after="" afterout="" match="''"] usfm:text[] usfm:endtag[matchref="" dump="true" before="''" matchout="" after="/\\cat\*${Hs}/" afterout="'\\cat*'"]]
    attribute category { text }

Reference =
    [usfm:tag[match="'ref'"]]
    element ref {
        [usfm:text[]]
        text?,
        [usfm:match[match="PIPE" matchout="'|'" dump="true"] usfm:match[match="TEXTNOTATTRIB"]]
        attribute loc { [usfm:pattern[name="VERSE"]] xsd:string { pattern = "[A-Z1-4]{3}(-[A-Z1-4]{3})? ?[a-z0-9\-:]*" } }
    } >> usfm:endtag[match="'ref'" matchref=""]

Break = 
    [usfm:match[match="'//'"]]
    element optbreak { empty }
